.logo{
  height: 150px;
}

nav li a{
  font-size: 18px !important;
}

.carousel .carousel-item>img{
    height: 100%;
    width: 100%;
}

/*Imagenes nuevas para el carrusel y se medofico para que tomen todo el ancho y alto*/

.clinica-img1{
    background-image: url(../img/img-banner/Alta-resolucion/clinica-chequeo.jpg);
    background-size: 100% 100%;
}

.clinica-img2{
    background-image: url(../img/img-banner/Alta-resolucion/clinica-atencion.jpg);
    background-size: 100% 100%;
}

.clinica-img3{
    background-image: url(../img/img-banner/Alta-resolucion/clinica-odontologia.jpg);
    background-size: 100% 100%;
}

.clinica-img4{
    background-image: url(../img/img-banner/Alta-resolucion/clinica-kinesiologia.jpg);
    background-size: 100% 100%;
}

.clinica-img5{
    background-image: url(../img/img-banner/Alta-resolucion/background8.jpg);
    background-size: 100% 100%;
}

.next, .prev{
  position: absolute;
  top:45%;
  color:white;
  cursor: pointer;
}

.prev{
  left: 0px;
}

.next{
  right:0px;
}


/* <<<< ---- Sesion de las tarjetas de otras especialidades ---- > */

.contenedor-carta{
    height: 250px;
    width: : 250px;
    margin: auto;
    -webkit-perspective: 800;
}

.contenedor-especialidad{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.contenedor-especialidad:hover{
    transform: rotateY(180deg);
}

.lado{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 20px;
}

.adelante{
    background: white;
}

.atras{
    background: #4dd0e1;
    transform: rotateY(180deg);
}
